    h2 {
        font-size: 18px;
        font-weight: bold;
    }

    section {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .tranbox {
        width: 100%;
        padding: 26px 20px;
        display: flex;
        justify-content: space-between;
    }

    .novatran {
        width: 400px;
        height: 344px;
        background-color: #ffffff;
        border: 1px solid #979797;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .conjuntoinput {
        width: 100%;
        height: 209px;
        padding: 0px 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .labelinput {
        font-size: 14px;
    }

    #merc, #val, #tipotran {
        width: 100%;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 5px;
    }

    .add-btn {
        width: 100%;
        padding: 0px 14px;
    }

    .addtran-btn {
        width: 100%;
        height: 32px;
        background-color: #333333;
        border: 0px solid #979797;
        border-radius: 5px;
        color: #ffffff;
        font-size: 14px;
    }

    .extrato {
        width: 680px;
        height: 344px;
        padding-left: 20px;
    }

    .subtitle2 {
        text-align: center;
        padding-top: 22px;
    }

    .extratotable {
        padding-top: 5px;
    }

    table {
        border-collapse: collapse;
        font-size: 14px;
    }

    td {
        border-bottom: 1px solid #979797;
        padding: 7px;
    }

    .tablecabecalho {
        font-weight: bold;
        border-top: 2px solid #fff
    }

    .tablereso {
        font-weight: bold;
        border-top: 4px double #979797;
        border-bottom: 2px solid transparent;
    }

    .lucro {
       
        font-size: 10px;
        text-align: end;
    }

    


@media (min-width:1100px)  {
    .tranbox {
        width: 1100px;
        
    }
}



/* tablet portrait*/
@media (max-width: 1023px) {
    section {
        width: 100%;
        margin: auto;
    }

    .tranbox {
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .subtitle1 h2 {
        display: block;
        font-size: 18px;
    }
    
    .novatran {
        width: 100%;
        height: 189px;
        background-color: #ffffff;
        border: 1px solid #979797;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .conjuntoinput {
        width: 100%;
        height: 30px;
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #tipotran {
        width: 100%;
        height: 32px;
    }

    #merc {
        width: 100%;
        height: 32px;
    }

    #val {
        width: 100%;
        height: 32px;
    }

    .imput-tipo {
        width: calc(25% + 20px);
        padding: 0px 20px;
    }
 
    .imput-merc {
        width: 50%;
    }

    .imput-val {
        width: 25%;
        margin-left: 20px;
    }

    .add-btn {
        padding:  20px 10px 0px 0px;
        display: flex;
        justify-content: flex-end;
    }
    
    .addtran-btn {
        width: 200px;
        height: 32px;
        background-color: #333333;
        border: 0px solid #979797;
        border-radius: 5px;
        color: #ffffff;
        font-size: 14px;
    }
        
    .extrato {
        width: 100%;
        height: 344px;
        padding: 23px 0px 0px 0px;
    }
    
    .subtitle2 {
        text-align: center;
        padding-top: 22px;
    }
    
    .subtitle2 h2 {
        font-size: 18px;
    }

    .extratotable {
        padding-top: 5px;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }
    
    td {
        border-bottom: 1px solid #979797;
        padding: 7px;
    }
    
    .tablecabecalho {
        font-weight: bold;
        border-top: 2px solid #fff
    }
    
    .tablereso {
        font-weight: bold;
        border-top: 4px double #979797;
        border-bottom: 2px solid transparent;
    }
    
    .lucro {
        
        font-size: 10px;
        text-align: end;
    }
}

/* mobile */
@media (max-width: 650px) {
    section {
        width: 100%;
        margin: auto;
    }

    .tranbox {
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitle1 {
        display: none;
    }
    
    .novatran {
        height: 290px;
        margin: 0px; 
        padding-bottom: 29px;
        border: none;
        border-bottom: 1px solid #979797;
        border-radius: 0px;
        box-shadow: none;
    }

    .conjuntoinput {
        width: 100%;
        height: 208px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #merc, #val, #tipotran {
        width: 100%;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 5px;
    }

    .imput-tipo {
        width: 100%;
        padding: 0;      
    }
 
    .imput-merc {
        width: 100%;
    }

    .imput-val {
        width: 100%;
        margin: 0;
    }

    .add-btn {
        padding:  20px 0px 0px 0px;
    }
    
    .addtran-btn {
        width: 100%;
        height: 32px;
        background-color: #333333;
        border: 0px solid #979797;
        border-radius: 5px;
        color: #ffffff;
        font-size: 14px;
    }
    
    .extrato {
        width: 100%;
        height: 344px;
        padding: 23px 0px 0px 0px;
    }
}