nav {
    background-color: #dbdbdb;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
   
    
}

.menulogo {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

label.logo {
    font-size: 20px;
    padding: 0;
    display: flex;
    align-items: center;
}

.marca {
    width: 40px; 
    height: 36.84px;
    margin-right: 20px;
}

nav ul {
    float: right;
 
    margin-right: 0px;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
}

.checkbtn {
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
}

.closebtn {
    font-size: 30px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#close {
    display: none;
}


.menubox ul {
    text-decoration: none;
    color: black;
    background-color: #fff;
    display: flex;
    padding: 10px;
}

/* mobile */
@media  (max-width: 426px) {
        .menulogo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        
    }

    #check {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    ul .closebtn {
        display: block;
        color: #fff;
        float: left;
        padding: 20px;
    }

    .listamenu {
        
    }

    .menubox ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #333333;
        top: 0%;
        right: -100%;
        text-align: right;
        padding-top: 60px;
        padding-right: 160px;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    a:active, a:hover {
        background: rgb(60, 60, 60);
        transition: all .5s; 
        
    }

    #check:checked ~ .menubox ul {
        right: -20%;
    }

    #close:checked ~ .menubox ul {
        right: -100%;
    }
}

@media (max-width: 1024px) {

}



