    nav {
        background-color: #dbdbdb;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .menulogo {
        width: 1100px;
        margin: auto;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }

    .tituloreserva {
        width: 100%;
        text-align: left;
        margin-left: 20px;
    }

    .titulo {
        display: none;
    }

    .marca {
        width: 40px;
        height: 36.84px;
    
    }

    nav ul {
        float: right;
        margin-right: 0px;
        margin-top: 0px;
    }

    nav ul li {
        display: inline-block;
        margin: 0 5px;
        display: flex;
        width: max-content;
    }

    a {
        color: #333333;
    }

    .checkbtn {
        font-size: 30px;
        float: right;
        cursor: pointer;
        display: none;
    }

    .closebtn {
        font-size: 30px;
        float: right;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    #close {
        display: none;
    }

    .menubox ul {
        text-decoration: none;
        color: black;
        background-color: #fff;
        display: flex;
        padding: 10px;
    }


/* tablet portrait*/
@media (max-width: 1023px) {
    nav {
        background-color: #dbdbdb;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .marca {
        width: 30px;
        height: 27.63px;
    }
    
    .menulogo {
        width: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .tituloreserva {
        display: none;
    }

    .titulo {
        display: block;
        width: 100%;
        text-align: center; 
    }

    #check {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    .btn-close {
        display: flex;
        padding: 10px 0px 20px 10px;
    }

    .close-btn {
        width: 16px;
    }

    .menubox ul {
        position: fixed;
        width: 37%;
        height: 100%;
        background-color: #333333;
        top: 0%;
        right: -100%;
        text-align: right;
        padding-top: 10px;
        padding-right: 3%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    
    .separador {
        display: none;
    }

    nav ul li {
        width: 100%;
        display: block;
        margin: 15px 0;
        display: flex;
        justify-content: flex-end;
    }

    nav ul li a {
        font-size: 16px;
        color: #fff;
    }

    a:active, a:hover {
        background: rgb(60, 60, 60);
        transition: all .5s; 
    }

    #check:checked ~ .menubox ul {
        right: 0%;
    }
}

/* mobile */
@media (max-width: 650px) {
    
    nav {
        background-color: #dbdbdb;
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .marca {
        width: 30px;
        height: 27.63px;
    }
    
    .menulogo {
        width: 100%;
        padding: 0px 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .tituloreserva {
        display: none;
    }

    .titulo {
        display: block;
        width: 100%;
        text-align: center; 
    }

    #check {
        display: none;
    }

    .checkbtn {
        display: block;
    }

    .btn-close {
        
        padding: 10px 0px 20px 10px;
        
    }

    .close-btn {
        width: 16px;
    }

    .separador {
        display: none;
    }

    .menubox ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #333333;
        top: 0%;
        right: -100%;
        padding-top: 10px;
        padding-right: 20%;
        transition: all .5s;
        display: flex;
        flex-direction: column;
    }
    
    nav ul li {
        width: 100%;
        display: block;
        margin: 15px 0;
        display: flex;
        justify-content: flex-end;
    }

    nav ul li a {
        display: flex;
        font-size: 16px;
        color: #fff;
    }

    a:active, a:hover {
        background: rgb(60, 60, 60);
        transition: all .5s; 
    }

    #check:checked ~ .menubox ul {
        right: -60px;
    }
}