* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

h1.titulo {
    font-size: 20px;
    font-weight: 100;
}

h1.tituloreserva {
    font-size: 20px;
    font-weight: 100;
}